* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: red;
  text-align: center;
}

.header {
  background-color: #eee;
  padding: 15px;
}

.app {
  display: flex;
}

.main {
  flex-grow: 1;
}

.sidebar {
  width: 250px;
  background-color: #1e1e1e;
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.sidebar ul li a:hover {
  color: #00bfff;
}

